<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hangman</title>
  </head>
  <body class='container'>
    <p>You won <%= @won_games_count %> times</p>
    <a href=<%= @page_to_go_back_to %>>Go back</a>
  </body>
</html>
