<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hangman</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Inconsolata:400,700" rel="stylesheet">
  </head>
  <body>
    <div class='container'>
      <div class='link-nav'>
	<nav>
	  <div class='home'>
	    <a href='/end-of-game'>Home</a>
	    <div class='underline'></div>
	  </div>
	  <div class='win-counter'>
	    <a href='/games-won'>Win counter</a>
	    <div class='underline'></div>
	  </div>
	</nav>
      </div>
      <img src='<%= @image %>.jpg'>
      <p class='secret-word'><%= @secret_word_revealed %></p>
      <p><%= @verdict %></p>
      <form action='/play-again' method='post'>
	<button class='button' type='re-play'>Play again</button>
      </form>
    </div>
  </body>
</html>

