<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hangman</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class='container'>
      <div class='link'>
	<a href=<%= @page_to_go_back_to %>>Back</a>
      </div>
      <% if @won_games_count == "1" %>
	<p>You won <%= @won_games_count %> time</p>
      <% else %>
	<p>You won <%= @won_games_count %> times</p>
      <%end %>
    </div>
  </body>
</html>
