<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hangman</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class='container'>
      <div class='link'>
	<a href='/games-won'>Win Counter</a>
      </div>
      <img src='<%= @image %>.jpg'>
      <p><%= @secret_word_revealed %></p>
      <p><%= @verdict %></p>
      <form action='/play-again' method='post'>
	<button type='re-play'>Play again</button>
      </form>
    </div>
  </body>
</html>

