<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hangman</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Inconsolata:400,700" rel="stylesheet">
  </head>
  <body>
    <div class='container'>
      <div class='link-nav'>
	<nav>
	  <div class='home'>
	    <a href=<%= @page_to_go_back_to %>>Home</a>
	    <div class='underline'></div>
	  </div>
	  <div class='win-counter'>
	    <a href='/games-won'>Win counter</a>
	    <div class='underline'></div>
	  </div>
	</nav>
      </div>
      <% if @won_games_count == "1" %>
	<p>You won <%= @won_games_count %> time</p>
      <% else %>
	<p>You won <%= @won_games_count %> times</p>
      <%end %>
    </div>
  </body>
</html>
