<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hangman</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Inconsolata:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='container'>
      <nav class='link-nav'>
	<a href=<%= @page_to_go_back_to %>>Home</a>
	<a href='/games-won'>Win counter</a>
      </nav>
      <% if @won_games_count == "1" %>
	<p>You won <%= @won_games_count %> time</p>
      <% else %>
	<p>You won <%= @won_games_count %> times</p>
      <%end %>
    </div>
  </body>
</html>
