.container {
  margin: 0 auto;
  border-width: 14px;
  border-style: solid;
  border-color: pink;
  border-radius: 95px;
  text-align: center;
  width: 600px;
  height: 795px;
  background-color: lightblue;
  font-family: 'Comfortaa', cursive;
  color: black;
}

.secret-word {
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  font-weight: 700;
  padding-top: 15px;
}

.link-nav {
  border-radius: 12px;
  background-color: pink;
  width: 161px;
  height: 20px;
  margin: 5px auto 45px auto;
  padding: 12px 26px;
  position: relative;
  top: 20px;
  display: inline-block;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

nav a {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  margin-top: 5px;
}

a:hover {
  color: white;
  font-family: 'Open Sans';
  font-size: 20px;
  border-bottom: 1px solid white;
}

.wrong-guesses {
  font-size: 18px;
  padding-top: 20px;
}

img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: darkblue;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 3px 3px 3px grey;
}

.button:hover {
  box-shadow: 10px 10px 8px grey;
  font-size: 30px;
  cursor: pointer;
  transition: font-size 1s ease;
}

input {
  width: 20px;
  height: 35px;
}

form {
  padding-top: 20px;
}

@media only screen and (max-width: 500px) {
  .container {
    border-style: none;
    width: 320px;
    height: 555px;
    border-radius: 10%;
  }

  .secret-word {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  img {
    height: 200px;
    width: 200px;
  }

  .wrong-guesses {
    font-size: 15px;
    padding-top: 3px;
  }

  .link-nav {
    width: 130px;
    padding-top: 10px;
  }

  a {
    font-size: 10px;
    text-decoration: none;
  }

  a:hover {
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    border-bottom: 1px solid white;
    margin-left: 0px;
  }

  .button:hover {
    font-size: 25px;
  }

  input {
    height: 30px;
  }
}
